body{
	margin: auto;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/img-palawan.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.half1{
	float: left;
	width: 50%;
	height: 100vh;
}
.half2{
	float: left;
	width: 50%;
	height: 100vh;
	display: flex;
}
.logo img{
	display: block;
	margin: auto;
	width: 100%;
}
.inputmodule{
	margin: auto;
	width: 450px;
	height: 500px;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgb(12, 12, 12) 0px 5px 10px;
}
#loginbtn{
	background-color: #79a6cc;
	color: white;
	font-family: "Century Gothic";
	font-size: "30px";
	font-weight: bold;
	width: 50%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-top-left-radius: 10px;
}
#signupbtn{
	background-color: white;
	font-family: "Century Gothic";
	font-size: "30px";
	font-weight: bold;
	width: 50%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-top-right-radius: 10px;
}
#loginbtn:hover, #signupbtn:hover{
	cursor: pointer;
	background-color: #6990af !important;
	color: white !important;
}
.frmfont{
	font-family: "Century Gothic";
	font-weight: bold;
}
.login{
	display:block;
	padding: 30px;
}

.signup{
	display:none;
	padding: 30px;
}
#error{
	color: red;
}
#verify{
	color: green;
}

