.travelbody{
    margin: 0;

}
.maincontainer{
    width: 100%;
    height: 100%;
    background-color: #F7ECDE;
    padding-top: 100px;

}
.center{
    margin: auto;
    width: 1200px;
    height: 2000px;
    padding: 20px;
    background-color: white;
}

.trvlttl{
    display: block;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 60px;
    color:#3f3f3f;
}
.trvldesc{
    display: block;
    font-family: "Century Gothic";
    color:#3f3f3f;

}